@media screen and (max-width: 420px) {
  body {
    background-color: #1f2937;
  }
  :root {
    --mainTitleFontSize: 32px;
  }
  .generatePasswordBtn {
    width: 100%;
  }
  .passwordsContainer {
    flex-direction: column;
  }
  .passwordOne,
  .passwordTwo {
    width: 100%;
  }
}
