*,
*::before,
*::after {
  -webkit-boxsizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainFontFamily: "Karla", sans-serif;
  --mainBgColor: #273549;
  --textWhite: #fff;
  --borderRadius: 8px;
  --mainTitleFontSize: 40px;
  --mainTitleWeightExB: 800;
  --mainTitleLineHeight: 1.2;

  --GoGreenColor: #4adf86;
  --pFontSize: 20px;

  --mainBodyFontSizeSm: 16px;
  --MediumWeight: 500;
}

body {
  font-family: var(--mainFontFamily);
  color: var(--textWhite);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mainBgColor);
  width: 100%;
  max-width: 550px;
  height: 550px;
  border-radius: var(--borderRadius);
  padding: 115px 52px;
}

.mainTitle {
  font-size: var(--mainTitleFontSize);
  font-weight: var(--mainTitleWeightExB);
  line-height: var(--mainTitleLineHeight);
}
.titleAlt {
  display: inline-block;
  color: var(--GoGreenColor);
}

.subTitle {
  margin-top: 8px;
  font-size: var(--pFontSize);
}

.generatePasswordBtnContainer {
  margin-top: 48px;
}
.generatePasswordBtn {
  padding: 8px 16px;
  font-family: var(--mainFontFamily);
  font-size: var(--mainBodyFontSizeSm);
  font-weight: var(--MediumWeight);
  border-radius: var(--borderRadius);
  background-color: var(--GoGreenColor);
  color: var(--textWhite);
  border: none;
  margin-bottom: 32px;
}

hr {
  border: 1px solid #2f3e53;
}
