*,
*::before,
*::after {
  -webkit-boxsizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainFontFamily: "Karla", sans-serif;
  --mainBgColor: #1f2937;
  --textWhite: #fff;
  --borderRadius: 8px;
  --mainTitleFontSize: 40px;
  --mainTitleWeightExB: 800;
  --mainTitleLineHeight: 1.2;

  --GoGreenColor: #4adf86;
  --pFontSize: 20px;

  --mainBodyFontSizeSm: 16px;
  --MediumWeight: 700;

  --subtileBlueColor: #273549;
}

body {
  font-family: var(--mainFontFamily);
  color: var(--textWhite);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mainBgColor);
  width: 100%;
  max-width: 550px;
  border-radius: var(--borderRadius);
  padding: 115px 52px;
}

.mainTitle {
  font-size: var(--mainTitleFontSize);
  font-weight: var(--mainTitleWeightExB);
  line-height: var(--mainTitleLineHeight);
}
.titleAlt {
  display: inline-block;
  color: var(--GoGreenColor);
}

.subTitle {
  margin-top: 8px;
  font-size: var(--pFontSize);
}

.generatePasswordBtnContainer {
  margin-top: 48px;
}

.generatePasswordBtn,
.passwordOne,
.passwordTwo {
  font-family: var(--mainFontFamily);
  font-size: var(--mainBodyFontSizeSm);
  font-weight: var(--MediumWeight);
  border-radius: var(--borderRadius);
  cursor: pointer;
}

.generatePasswordBtn {
  padding: 12px 24px;
  background-color: var(--GoGreenColor);
  color: var(--textWhite);
  border: none;
}

hr {
  margin: 32px 0;
  border: 1px solid var(--subtileBlueColor);
}

.passwordsContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
}

.passwordOne,
.passwordTwo {
  padding: 12px 16px;
  background-color: var(--subtileBlueColor);
  color: var(--GoGreenColor);
  width: 50%;
  text-align: center;
}

.placeholder {
  opacity: 0%;
}
